{% load static %}
<footer>
  <div class="social-links-wrapper">
    <div class="social-links">
      <a href="https://www.facebook.com/fongchinghin.stephen/" target="_blank">
	<img src="{% static 'main/facebook.svg' %}" class="social-link"/>
      </a>
      <a href="https://www.instagram.com/fch_stephen/" target="_blank">
	<img src="{% static 'main/instagram.svg' %}" class="social-link"/>
      </a>
      <a href="https://stackoverflow.com/users/9938850/stephen-fong" target="_blank">
	<img src="{% static 'main/stackoverflow.svg' %}" class="social-link"/>
      </a>
      <a href="https://www.linkedin.com/in/ching-hin-stephen-fong-173a0715a/" target="_blank">
	<img src="{% static 'main/linkedin.svg' %}" class="social-link"/>
      </a>
    </div>
  </div>
  <div class="message">
    Presented by Stephen Fong with Django &#127838;
  </div>
  <div class="copyright">
    <br>©2020 Stephen Fong · All Rights Reserved<br>
  </div>
</footer>